BODY {
	margin: 0;
	padding: 0;
	font: 10pt Arial, Helvetica, sans-serif;
}
* {color: black;}
#banner, #top, #footer {
	display: none;
}
#container #sidebar {
	display: none;
}
LABEL, INPUT, BUTTON, SELECT, TEXTAREA, IMG {
	display: none;
}
LEGEND {
	font-size: 12pt;
	font-weight: bold;
	padding: 0;
	display: block;
	border-bottom: 1px solid black;
}
/** html FIELDSET {
	padding: 0.4cm 0.2cm 0.2cm;
}*/
.title-for-print {
	display: block;
	font-size: 20pt;
	font-weight: bold;
	border-bottom: black 1px solid;
}
h1 {
	font-size: 16pt;
}
FIELDSET {
	border: 0;
	border-bottom: 1px solid black;
	padding: .2cm;
}
FIELDSET .yellowTable {
	width: 100%;
}
FIELDSET .yellowTable .yellowTable {
	/*border: 1px solid #ccc;*/
}
FIELDSET .yellowTable .yellowTable th {
	border-bottom: 1px dashed #ccc;
}
.yellowTable .separator {
	font-size: 11pt;
}

/*------ MANUAL SELECTION -----*/
.not-for-print {
	display: none;
}
.only-for-print {
	display: block;
}